@{
    ViewBag.PageName = "Doctor Dashboard";



}

@section Styles {


    <link href="@Url.Content("~/Content/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css")" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .physical-icon {
            width: 20px;
            height: 20px;
            fill: #038dfd;
        }
    </style>

}

@section Scripts
{
    <script src="@Url.Content("~/Content/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js")"></script>
    <script src="@Url.Content("//maps.google.com/maps/api/js?key=AIzaSyBTGnKT7dt597vo9QgeQ7BFhvSRP4eiMSM")"></script>
    <script src="@Url.Content("~/Content/assets/vendors/custom/gmaps/gmaps.js")"></script>
    <script src="@Url.Content("~/Content/assets/vendors/custom/datatables/datatables.bundle.js")"></script>
    <script src="@Url.Content("~/Scripts/Dashboard/Doctordashboard.js")"></script>

    <script type="text/javascript">

        //$(document).ready(function () {
        //    var dt = new Date();
        //    var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();

        //    $('#EncounterTime').text(time);
        //});
        //function getTime() {
            
          
        //}


        new Morris.Bar({
            element: 'kt_morris_3',
            data: [{
                y: 'Jan',
                a: 100

            },
            {
                y: 'Feb',
                a: 75

            },
            {
                y: 'Mar',
                a: 50

            }
            ],
            xkey: 'y',
            ykeys: ['a'],
            labels: ['Series A'],
            barColors: ['#01b091']
        });

        Morris.Line({
            element: 'AvgVistRating',
            data: [
                { y: 'Jan', a: 100, b: 90 },
                { y: 'Feb', a: 200, b: 65 },
                { y: 'March', a: 50, b: 40 },

            ],
            parseTime: false,
            xLabels: "month",
            xkey: 'y',
            ykeys: ['a'],
            labels: ['Cardiology']
        });

    </script>

    <!--begin::Page Scripts(used by this page) -->
    <script src="@Url.Content("~/Content/assets/js/pages/components/charts/morris-charts.js")"></script>
    <!--end::Page Scripts -->
}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"><span><img style="width:30px;" class="mr-3" src="~/Content/assets/media/med360/doctor.png"></span>Doctor Dashboard</h3>

    </div>
</div>

<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

    <!--Begin::Dashboard 1-->
    <!--Begin::Section-->
    <div class="row mb-4">

        <div class="col-xl-3">
            <div class="dashboardCtr">
                <div>
                    <p>Total Visits</p>
                    <h2>37 <span class="custom-arrow-ctr green"><i class=""></i></span></h2>
                    @*<p>New Patients: <strong>45</strong><span class="custom-arrow-ctr green"><i class="fa fa-angle-up"></i></span></p>*@
                </div>
                <div class="text-right">
                    <img src="~/Content/assets/media/dashboard/icon_2.png">
                </div>
            </div>
        </div>

        <div class="col-xl-3">
            <div class="dashboardCtr">
                <div>
                    <p>Patients Waiting</p>
                    <h2>25 <span class="custom-arrow-ctr green"><i class="fa fa-arrow-circle-up"></i></span></h2>
                    @*<p>New Hospitals/Clinics: <strong>45</strong> <span class="custom-arrow-ctr red"><i class="fa fa-angle-down"></i></span></p>*@
                </div>
                <div class="text-right">
                    <img src="~/Content/assets/media/dashboard/icon_1.png">
                </div>
            </div>
        </div>

        <div class="col-xl-3">
            <div class="dashboardCtr">
                <div>
                    <p>Average Encounter Time</p>
                    <h2 id="EncounterTime">00:20:44<span class=""></span></h2>
                    @*<p>Total Visitors: <strong>45</strong> <span class="custom-arrow-ctr green"><i class="fa fa-angle-up"></i></span></p>*@
                </div>
                <div class="text-right">
                    <img src="~/Content/assets/media/dashboard/icon_3.png">
                </div>
            </div>
        </div>

        <div class="col-xl-3">
            <div class="dashboardCtr">
                <div>
                    <p>Patients In Exam Room</p>
                    <h2>10<span class="custom-arrow-ctr green"><i class="fa fa-arrow-circle-up"></i></span></h2>
                    @*<p>New Staff: <strong>45</strong><span class="custom-arrow-ctr red"><i class="fa fa-angle-down"></i></span></p>*@
                </div>
                <div class="text-right">
                    <img src="~/Content/assets/media/dashboard/icon_4.png">
                </div>
            </div>
        </div>


    </div>

    <!--End::Section-->
    <!--Begin::Section-->
   
        <div class="row">
            <div class="col-md-8">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile shdow">
                    <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title custom-table-title">
                                Patient Appointments
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            
                                <a href="@Url.Action("PatientList","PatientList")" class="btn btn-clean btn-sm btn-icon btn-icon-md">
                                    <i class="fa fa-list-alt"></i>
                                </a>
                                
                            
                            <a  class="btn btn-clean btn-sm btn-icon btn-icon-md"><i class="fa fa-calendar"></i></a>
                        </div>
                    </div>

                    <div class="kt-portlet__body kt-portlet__body">

                        <!--begin: Datatable -->
                       

                            <table id="PatientList" class="table table-striped  table-hover ">
                                <thead class="">
                                    <tr>
                                        <th>MR No</th>
                                        <th>Name</th>
                                        <th>Visit Mode</th>
                                        <th>Age</th>
                                        <th>Gender</th>
                                        <th>App Time</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    <tr>
                                        <td><span>MR-0001</span></td>
                                        <td>Ali</td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" title="Video Call">
                                                <span class="physical-icon">
                                                    <?xml version="1.0" encoding="utf-8" ?>
                                                    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         width="841.889px" height="1190.551px" viewBox="0 0 841.889 1190.551" enable-background="new 0 0 841.889 1190.551"
                                                         xml:space="preserve">
<title>Video call</title>
<g>
                                                    <path d="M514.395,362.071h-40.411l-42.937-64.825c-15.489-23.521-41.714-37.739-69.877-37.885H237.413
		c-37.197,0-67.352,30.154-67.352,67.351v34.518c-45.507,1.366-81.684,38.662-81.663,84.189v190.268
		c0,46.496,37.692,84.188,84.188,84.188h341.808c46.496,0,84.188-37.692,84.188-84.188v-9.261l131.335,60.615l6.735,1.684
		c9.299,0,16.838-7.538,16.838-16.837V410.059c-0.153-9.298-7.815-16.712-17.113-16.559c-2.225,0.037-4.421,0.514-6.46,1.404
		l-131.335,60.616v-9.261C598.583,399.764,560.891,362.071,514.395,362.071z M236.571,293.879h124.6
		c16.958,0.031,32.769,8.568,42.095,22.73l30.308,46.305H203.738v-35.359c0-18.599,15.077-33.676,33.676-33.676H236.571z
		 M564.907,636.528c0,27.897-22.615,50.513-50.513,50.513H171.745c-27.897,0-50.514-22.615-50.514-50.513V446.26
		c0-27.897,22.616-50.514,50.514-50.514h342.649c27.897,0,50.513,22.616,50.513,50.514V636.528z M720.657,437v208.789
		l-122.074-56.407v-96.817L720.657,437z" />

</g>
</svg>
                                                </span>
                                            </a>
                                        </td>
                                        <td><span>28</span></td>
                                        <td><span>Male</span></td>
                                        <td><span>2:00</span></td>
                                        <td>3</td>
                                        <td nowrap></td>
                                    </tr>
                                    <tr>
                                        <td><span>MR-0002</span></td>
                                        <td>Hasan</td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" title="Video Call">
                                                <span class="physical-icon">
                                                    <?xml version="1.0" encoding="utf-8" ?>
                                                    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         width="841.889px" height="1190.551px" viewBox="0 0 841.889 1190.551" enable-background="new 0 0 841.889 1190.551"
                                                         xml:space="preserve">
<title>Video call</title>
<g>
                                                    <path d="M514.395,362.071h-40.411l-42.937-64.825c-15.489-23.521-41.714-37.739-69.877-37.885H237.413
		c-37.197,0-67.352,30.154-67.352,67.351v34.518c-45.507,1.366-81.684,38.662-81.663,84.189v190.268
		c0,46.496,37.692,84.188,84.188,84.188h341.808c46.496,0,84.188-37.692,84.188-84.188v-9.261l131.335,60.615l6.735,1.684
		c9.299,0,16.838-7.538,16.838-16.837V410.059c-0.153-9.298-7.815-16.712-17.113-16.559c-2.225,0.037-4.421,0.514-6.46,1.404
		l-131.335,60.616v-9.261C598.583,399.764,560.891,362.071,514.395,362.071z M236.571,293.879h124.6
		c16.958,0.031,32.769,8.568,42.095,22.73l30.308,46.305H203.738v-35.359c0-18.599,15.077-33.676,33.676-33.676H236.571z
		 M564.907,636.528c0,27.897-22.615,50.513-50.513,50.513H171.745c-27.897,0-50.514-22.615-50.514-50.513V446.26
		c0-27.897,22.616-50.514,50.514-50.514h342.649c27.897,0,50.513,22.616,50.513,50.514V636.528z M720.657,437v208.789
		l-122.074-56.407v-96.817L720.657,437z" />

</g>
</svg>
                                                </span>
                                            </a>
                                        </td>
                                        <td><span>30</span></td>
                                        <td><span>Male</span></td>
                                        <td><span>2:00</span></td>
                                        <td>3</td>
                                        <td nowrap></td>
                                    </tr>
                                    <tr>
                                        <td><span>MR-0004</span></td>
                                        <td>Ahmad</td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" title="Video Call">
                                                <span class="physical-icon">
                                                    <?xml version="1.0" encoding="utf-8" ?>
                                                    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         width="841.889px" height="1190.551px" viewBox="0 0 841.889 1190.551" enable-background="new 0 0 841.889 1190.551"
                                                         xml:space="preserve">
<title>Video call</title>
<g>
                                                    <path d="M514.395,362.071h-40.411l-42.937-64.825c-15.489-23.521-41.714-37.739-69.877-37.885H237.413
		c-37.197,0-67.352,30.154-67.352,67.351v34.518c-45.507,1.366-81.684,38.662-81.663,84.189v190.268
		c0,46.496,37.692,84.188,84.188,84.188h341.808c46.496,0,84.188-37.692,84.188-84.188v-9.261l131.335,60.615l6.735,1.684
		c9.299,0,16.838-7.538,16.838-16.837V410.059c-0.153-9.298-7.815-16.712-17.113-16.559c-2.225,0.037-4.421,0.514-6.46,1.404
		l-131.335,60.616v-9.261C598.583,399.764,560.891,362.071,514.395,362.071z M236.571,293.879h124.6
		c16.958,0.031,32.769,8.568,42.095,22.73l30.308,46.305H203.738v-35.359c0-18.599,15.077-33.676,33.676-33.676H236.571z
		 M564.907,636.528c0,27.897-22.615,50.513-50.513,50.513H171.745c-27.897,0-50.514-22.615-50.514-50.513V446.26
		c0-27.897,22.616-50.514,50.514-50.514h342.649c27.897,0,50.513,22.616,50.513,50.514V636.528z M720.657,437v208.789
		l-122.074-56.407v-96.817L720.657,437z" />

</g>
</svg>
                                                </span>
                                            </a>
                                        </td>
                                        <td><span>35</span></td>
                                        <td><span>Male</span></td>
                                        <td><span>6:00</span></td>
                                        <td>4</td>
                                        <td nowrap></td>
                                    </tr>
                                    <tr>
                                        <td><span>MR-0006</span></td>
                                        <td>Asad</td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" title="Physical Visit">
                                                <span class="physical-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 640" x="0px" y="0px"><path d="M64,372v68a56.06322,56.06322,0,0,0,56,56H256a56.06322,56.06322,0,0,0,56-56,80.1187,80.1187,0,0,0-49.21094-73.83008l59.03858-19.67969L344,464.74292V488a8.00008,8.00008,0,0,0,8,8h88a8.00008,8.00008,0,0,0,8-8,37.81934,37.81934,0,0,0-16.87549-31.53125L400,435.71875V312a40.04552,40.04552,0,0,0-40-40H264V186.24585l9.67993-2.41992,87.75122-15.95484a8.00868,8.00868,0,0,0,2.14649-.71582l32-16A7.99979,7.99979,0,0,0,400,144V128a8.00008,8.00008,0,0,0-8-8H224v-.30518a19.33039,19.33039,0,0,0,16-19.0083V57.86914A23.98659,23.98659,0,0,0,224,16H191.86426A31.90027,31.90027,0,0,0,160,47.86426V72a42.10456,42.10456,0,0,0,4.42236,18.7334L168,97.88867v19.68945L153.34375,139.5625A7.99836,7.99836,0,0,0,152,144V310.0835A35.78889,35.78889,0,0,0,132,304,68.07728,68.07728,0,0,0,64,372ZM430.4917,480H360V468.52979l31.77515-19.065,30.47436,20.31641A21.86222,21.86222,0,0,1,430.4917,480ZM384,312V435.4707l-26.25586,15.75293L335.86279,334.52539a8.00093,8.00093,0,0,0-10.39258-6.11523L230.70166,360H192a24.03467,24.03467,0,0,1-23.59595-19.64087L258.16248,288H360A24.02718,24.02718,0,0,1,384,312Zm0-172.94434L357.44434,152.333,280,166.41406V136H384ZM224,100.68652a3.31353,3.31353,0,0,1-5.65674,2.34278L205.65674,90.34277l-11.31348,11.31446,12.687,12.68652c.31079.31079.642.59277.96973.87939v3.01807l-24-4.7998V96a7.99934,7.99934,0,0,0-.84473-3.57812L180.94434,88H184a7.99943,7.99943,0,0,0,6.65625-3.5625L204.28125,64H224ZM176,47.86426A15.88194,15.88194,0,0,1,191.86426,32H224a8,8,0,0,1,0,16H200a7.99943,7.99943,0,0,0-6.65625,3.5625L179.71875,72H176Zm-8,98.55762,11.68433-17.52637,34.74682,6.94922A7.97578,7.97578,0,0,0,216,136h48v33.75391l-57.94043,14.48535,3.88086,15.52148L248,190.24585v85.15942l-80,46.666ZM132,320a20.0226,20.0226,0,0,1,20,20,36.04061,36.04061,0,0,0,36,36h44a64.07239,64.07239,0,0,1,64,64,40.04552,40.04552,0,0,1-40,40H120a40.04552,40.04552,0,0,1-40-40V372A52.059,52.059,0,0,1,132,320Z" /><text x="0" y="527" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by ArmOkay</text><text x="0" y="532" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text></svg></span>
                                            </a>
                                        </td>
                                        <td><span>40</span></td>
                                        <td><span>Male</span></td>
                                        <td><span>3:00</span></td>
                                        <td>1</td>
                                        <td nowrap></td>
                                    </tr>
                                    <tr>
                                        <td><span>MR-0007</span></td>
                                        <td>Ayesha</td>
                                        <td>
                                            <a href="#" data-toggle="tooltip" title="Physical Visit">
                                                <span class="physical-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 640" x="0px" y="0px"><path d="M64,372v68a56.06322,56.06322,0,0,0,56,56H256a56.06322,56.06322,0,0,0,56-56,80.1187,80.1187,0,0,0-49.21094-73.83008l59.03858-19.67969L344,464.74292V488a8.00008,8.00008,0,0,0,8,8h88a8.00008,8.00008,0,0,0,8-8,37.81934,37.81934,0,0,0-16.87549-31.53125L400,435.71875V312a40.04552,40.04552,0,0,0-40-40H264V186.24585l9.67993-2.41992,87.75122-15.95484a8.00868,8.00868,0,0,0,2.14649-.71582l32-16A7.99979,7.99979,0,0,0,400,144V128a8.00008,8.00008,0,0,0-8-8H224v-.30518a19.33039,19.33039,0,0,0,16-19.0083V57.86914A23.98659,23.98659,0,0,0,224,16H191.86426A31.90027,31.90027,0,0,0,160,47.86426V72a42.10456,42.10456,0,0,0,4.42236,18.7334L168,97.88867v19.68945L153.34375,139.5625A7.99836,7.99836,0,0,0,152,144V310.0835A35.78889,35.78889,0,0,0,132,304,68.07728,68.07728,0,0,0,64,372ZM430.4917,480H360V468.52979l31.77515-19.065,30.47436,20.31641A21.86222,21.86222,0,0,1,430.4917,480ZM384,312V435.4707l-26.25586,15.75293L335.86279,334.52539a8.00093,8.00093,0,0,0-10.39258-6.11523L230.70166,360H192a24.03467,24.03467,0,0,1-23.59595-19.64087L258.16248,288H360A24.02718,24.02718,0,0,1,384,312Zm0-172.94434L357.44434,152.333,280,166.41406V136H384ZM224,100.68652a3.31353,3.31353,0,0,1-5.65674,2.34278L205.65674,90.34277l-11.31348,11.31446,12.687,12.68652c.31079.31079.642.59277.96973.87939v3.01807l-24-4.7998V96a7.99934,7.99934,0,0,0-.84473-3.57812L180.94434,88H184a7.99943,7.99943,0,0,0,6.65625-3.5625L204.28125,64H224ZM176,47.86426A15.88194,15.88194,0,0,1,191.86426,32H224a8,8,0,0,1,0,16H200a7.99943,7.99943,0,0,0-6.65625,3.5625L179.71875,72H176Zm-8,98.55762,11.68433-17.52637,34.74682,6.94922A7.97578,7.97578,0,0,0,216,136h48v33.75391l-57.94043,14.48535,3.88086,15.52148L248,190.24585v85.15942l-80,46.666ZM132,320a20.0226,20.0226,0,0,1,20,20,36.04061,36.04061,0,0,0,36,36h44a64.07239,64.07239,0,0,1,64,64,40.04552,40.04552,0,0,1-40,40H120a40.04552,40.04552,0,0,1-40-40V372A52.059,52.059,0,0,1,132,320Z" /><text x="0" y="527" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by ArmOkay</text><text x="0" y="532" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text></svg></span>

                                            </a>
                                        </td>
                                        <td><span>45</span></td>
                                        <td><span>Female</span></td>
                                        <td><span>2:30</span></td>
                                        <td>2</td>
                                        <td nowrap></td>
                                    </tr>
                                </tbody>
                            </table>


                            @*<div class="text-center"><i class="fa fa-chevron-down"></i></div>*@
                       

                        <!--end: Datatable -->
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile shdow">
                    <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title custom-table-title">
                                My Open Items
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="dropdown dropdown-inline">
                                <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-list-alt"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-md dropdown-menu-fit">

                                    <!--begin::Nav-->
                                    <ul class="kt-nav">
                                        <li class="kt-nav__head">
                                            Export Options
                                            <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                                        </li>
                                        <li class="kt-nav__separator"></li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-drop"></i>
                                                <span class="kt-nav__link-text">Activity</span>
                                            </a>
                                        </li>
                                    </ul>

                                    <!--end::Nav-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet__body kt-portlet__body">
                        <div class="form-group form-group-sm row">

                            <div class="col-md-6">
                                <h4><span><img style="width:20px" class="mr-2" src="~/Content/assets/media/med360/signature.png"></span>Sign</h4>
                                <label>Sign to issue Pending order</label>
                            </div>
                            <div class="col-md-6" style="text-align: center;">
                                <span class="kt-badge kt-badge--unified-primary kt-badge--lg kt-badge--bold">5</span>
                            </div>

                        </div>

                        <div class="form-group form-group-sm row">

                            <div class="col-md-6">
                                <h4><span><img style="width:20px" class="mr-2" src="~/Content/assets/media/med360/signature.png"></span>Co sign</h4>
                                <label> Co Sign Pending order</label>
                            </div>
                            <div class="col-md-6" style="text-align: center;">
                                <span class="kt-badge kt-badge--unified-primary kt-badge--lg kt-badge--bold">6</span>
                            </div>

                        </div>

                        <div class="form-group form-group-sm row">

                            <div class="col-md-6">
                                <h4><span><img style="width:20px" class="mr-2" src="~/Content/assets/media/med360/feedback.png"></span>Results</h4>
                                <label>View lab reports new</label>
                            </div>
                            <div class="col-md-6" style="text-align: center;">
                                <span class="kt-badge kt-badge--unified-primary kt-badge--lg kt-badge--bold">7</span>
                            </div>

                        </div>

                        <div class="form-group form-group-sm row">

                            <div class="col-md-6">
                                <h4><span><img style="width:20px" class="mr-2" src="~/Content/assets/media/med360/change request.png"></span>Refill Requests</h4>
                                <label>Check Pending Requests</label>
                            </div>
                            <div class="col-md-6" style="text-align: center;">
                                <span class="kt-badge kt-badge--unified-primary kt-badge--lg kt-badge--bold">8</span>
                            </div>

                        </div>

                        <div class="form-group form-group-sm row">

                            <div class="col-md-6">
                                <h4><span><img style="width:20px" class="mr-2" src="~/Content/assets/media/med360/email.png"></span>Messages</h4>
                                <label>View unread</label>
                            </div>
                            <div class="col-md-6" style="text-align: center;">
                                <span class="kt-badge kt-badge--unified-primary kt-badge--lg kt-badge--bold">9</span>
                            </div>

                        </div>

                        <div class="form-group form-group-sm row">

                            <div class="col-md-6">
                                <h4><span><img style="width:20px" class="mr-2" src="~/Content/assets/media/med360/doctor notes.png"></span> Notes</h4>
                                <label>View unmarked Notes</label>
                            </div>
                            <div class="col-md-6" style="text-align: center;">
                                <span class="kt-badge kt-badge--unified-primary kt-badge--lg kt-badge--bold">10</span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile shdow">
                    <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title custom-table-title">
                                Staff on duty
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="dropdown dropdown-inline">
                                <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-list-alt"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-md dropdown-menu-fit">

                                    <!--begin::Nav-->
                                    <ul class="kt-nav">
                                        <li class="kt-nav__head">
                                            Export Options
                                            <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                                        </li>
                                        <li class="kt-nav__separator"></li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-drop"></i>
                                                <span class="kt-nav__link-text">Activity</span>
                                            </a>
                                        </li>
                                    </ul>

                                    <!--end::Nav-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet__body kt-portlet__body--fit">

                        <!--begin: Datatable -->
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-hoverable ktTble">
                                    <thead class="table-head-custom">
                                        <tr>
                                            <th>Employee #</th>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>Clinic Name</th>
                                        </tr>
                                    </thead>
                                    <tbody class="font-edit-delet">
                                        <tr>
                                            <td>1</td>
                                            <td><span>Asad</span></td>
                                            <td><span>Male</span></td>
                                            <td><span>City Clinic</span></td>

                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td><span>Hamza</span></td>
                                            <td><span>Male</span></td>
                                            <td><span>City Clinic</span></td>

                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td><span>Ali</span></td>
                                            <td><span>Male</span></td>
                                            <td><span>City Clinic</span></td>

                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td><span>Azeen</span></td>
                                            <td><span>Male</span></td>
                                            <td><span>City Clinic</span></td>

                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td><span>Ishfaq</span></td>
                                            <td><span>Male</span></td>
                                            <td><span>City Clinic</span></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="text-center"><i class="fa fa-chevron-down"></i></div>
                        </div>

                        <!--end: Datatable -->
                    </div>
                </div>
            </div>

            <div class="col-xl-6">

                <div class="kt-portlet kt-portlet--tab shdow">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <span class="kt-portlet__head-icon kt-hidden">
                                <i class="la la-gear"></i>
                            </span>
                            <div style="padding-top: 20px">
                                <h5 style="color:#000">Average Visits Rating</h5>
                                @*<h6><i class="far fa-circle" style="color:#01b091"></i> Admitted Patients &nbsp&nbsp <i class="far fa-circle" style="color:#038dfd"></i> Total Hospitals </h6>*@
                                @*<h2 class="blueTxt" style="color:#007bff"><strong></strong><span class="custom-arrow-ctr green"><i class=""></i></span></h2>*@
                            </div>

                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div id="AvgVistRating" style="height:300px;"></div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile shdow">
                    <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title custom-table-title">
                                To Do List
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="dropdown dropdown-inline">
                                <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-list-alt"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-md dropdown-menu-fit">

                                    <!--begin::Nav-->
                                    <ul class="kt-nav">
                                        <li class="kt-nav__head">
                                            Export Options
                                            <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                                        </li>
                                        <li class="kt-nav__separator"></li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-drop"></i>
                                                <span class="kt-nav__link-text">Activity</span>
                                            </a>
                                        </li>
                                    </ul>



                                    <!--end::Nav-->
                                </div>

                            </div>

                        </div>


                    </div>

                    <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title custom-table-title"></h3>
                        </div>
                        <div class=" kt-portlet__head-toolbar ">
                            <button type="button" class="btn btn-primary">
                                Add New Task
                            </button>
                        </div>
                    </div>


                    <div class="kt-portlet__body kt-portlet__body--fit">

                        <!--begin: Datatable -->
                        <div class="col-12">

                            <table id="todoList" class="table table-hoverable ktTble">
                                <thead class="table-head-custom">
                                    <tr>
                                        <th>Actions</th>
                                        <th>Name</th>


                                    </tr>
                                </thead>
                                <tbody class="font-edit-delet">
                                    <tr>
                                        <td nowrap></td>
                                        <td>Review Pending Bills</td>
                                    </tr>
                                    <tr>
                                        <td nowrap></td>
                                        <td>Send Change Request</td>


                                    </tr>
                                    <tr>
                                        <td nowrap></td>
                                        <td>Review Pending Bill</td>
                                    </tr>
                                    <tr>
                                        <td nowrap></td>
                                        <td>Review Pending Bill</td>

                                    </tr>
                                    <tr>
                                        <td nowrap></td>
                                        <td>Send Change Request</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <!--end: Datatable -->
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <!--begin:: Widgets/Daily Sales-->
                <div class="kt-portlet kt-portlet--tab shdow">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <span class="kt-portlet__head-icon kt-hidden">
                                <i class="la la-gear"></i>
                            </span>
                            <div style="padding-top: 20px">
                                <h5 style="color:#000">Visits By Day</h5>
                                @*<h6><i class="far fa-circle" style="color:#01b091"></i> Admitted Patients &nbsp&nbsp <i class="far fa-circle" style="color:#038dfd"></i> Total Hospitals </h6>*@
                                @*<h2 class="blueTxt" style="color:#007bff"><strong>$ 987, 12</strong><span class="custom-arrow-ctr green"><i class="fa fa-angle-up"></i></span></h2>*@
                            </div>

                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div id="kt_morris_3" style="height:409px;"></div>
                    </div>
                </div>

                <!--end:: Widgets/Daily Sales-->
            </div>
        </div>

   



   

    
</div>

<!-- end:: Content -->
